GameParticles - student/GameParticles/My Amplifier XE Results - GameParticles/r*
GameParticles - student/Release/*
GameParticles - student/Debug/*
GameParticles - student/Release/*
GameParticles - student/GameParticles/Release/*
GameParticles - student/GameParticles/Debug/*
GameParticles - student/GameParticles.opensdf
GameParticles - student/GameParticles.sdf